/*COLORS
dark green:012622
rich black:003B36
lavender mist:ECE5F0
carrot orange:E98A15
pansy purple:59114D

*/
:root {
  --japanese-indigo:#264653 ;
  --jungle-green: #2A9D8F;
  --hansa-yellow: #E9C46A;
  --sandy-brown: #F4A261;
  --light-red-orchre:#E76F51;
  --main-txt-color: blue;
  --main-padding: 15px;
}
.orangeBg{
  background:var(--sandy-brown);
}
.yellowBg{
  background:var(--hansa-yellow);
}
.jungleBg{
  background:var(--jungle-green);
}
html,
body {
  font-family: Verdana,Geneva,sans-serif;
  height: 100%;
  position: relative;
}
.logo-img{
  max-width: 30px;
  max-height: 40px;
  margin-top: -4px;
}
.logo-conatiner{
  padding-top: 0;
  padding-bottom: 0;
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 60px;
 background-color: var(--japanese-indigo);
 border-radius: 0!important;
}

.content-container{
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  background-color:var(--hansa-yellow);
}
.jumbotron {

    color: white;
    text-align: center;
    margin:0
}
.bg-grey {
    background-color: #f6f6f6;
}
input{
  color:black;
}
.jumbotron .btn-primary {
    background:var( --sandy-brown);
    border-color: #F1B46A
}

.jumbotron .btn-primary:hover {
    background: #D47E14
}
.jumbotron p {
    color: #d9ccee;
    max-width: 75%;
    margin: 1em auto 2em
}
.jumbotron-top{
  margin-top:20px
}
.glyphicon-user{
  padding-right: 0.5em;
}
.navbar{
  border:none!important;
  background-color: var(--japanese-indigo);
  margin-bottom: 0!important;
  margin-top: -1em;
}
}
.error_warning{
  color:red!important;
}
.jumbotron .lang-logo {
    display: block;
    background: #b01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white
}
.jumbotron .lang-logo img {
    max-width: 100%
}

.codeInput{
  border-radius: 0.2
}
@media screen and (max-width: 769px)  {

  }
}
