{% extends 'base.html' %}
{% block content %}

<div class="jumbotron jungleBg">
  <h1>BETCROQUET! WORK IN PROGRESS!</h1>
  <p><h2>BetCroquet is a web to make "bets" between friends about different topics like the oscars...</h2> </p>

</div>

<div class="jumbotron orangeBg">
  <div class='container-fluid ' id='betWrapper'>

      <div class="form-group col-md-2 col-md-offset-5">
        <label for="codeInput"><h1>ADD BET</h1></label>
        <input type="text" name="" value="" class="codeInput form-control" id='codeInput'><button type="button" name="button"> <span class='glyphicon glyphicon-search'></span></button>
      </div>
  </div>
</div>
<div class='container-fluid wrapper yellowBg' id='betWrapper'>
  <h1>Yours active bets:<h1>
</div>
{% endblock %}
