{% extends 'base.html' %}
{% block head_css_page %}
{% load staticfiles %}
<link href="{% static 'css/card.css' %}" rel="stylesheet" media="screen">
{% endblock %}


{% block page_header %}


  <div class="container">
    {% if user.is_authenticated %}
    <div class="col-sm-12 col-md-3 col-md-offset-4">
      <h2>BETCROQUET! WORK IN PROGRESS!</h2>
        <a href="#"><img src="/media/{{ request.session.profile_pic }}"class="perfil-img" alt="profile_pic"></a>
    </div>
    <div class="dropdown col-sm-12 col-md-3 col-md-offset-4">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <h3>Welcome,  {{request.user.username}}<span class="caret"></span></h3>
      </a>
      <ul class="dropdown-menu avatar-drop">
        <li><a href="#">Perfil</a></li>
        <li><a href="{% url 'user_mgmt_app:user_logout' %}">Logout</a></li>
      </ul>
    </div>
    {% else %}
    <h2>
      BetCroquet is a web to make "bets" between friends about different topics like the oscars...
    </h2>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron orangeBg">
  <div class='container-fluid ' id='betWrapper'>
    <div class='row col-md-offset-3'>
      <form name='AddBetForm' method="post">
        {% csrf_token %}
        <div class="form-group col-md-3">
          <label for="codeInput"><h2>ADD BET</h2></label>
          {% for field in addBetForm %}
          <input type="text" name="gameCode"  class="codeInput form-control "required id={{ field.auto_id }}><button type="submit" name="button" class=' icon btn btn-primary btn-lg'> <span class='glyphicon glyphicon-search'></span></button>
          {% endfor %}
        </div>
      </form>
      <div class="form-group col-sm-12 col-md-6 ">
        <h2>CREATE A NEW BET</h2>
        <button type="button" class="btn btn-primary btn-lg disabled"  name="button">CREATE BET</button>
      </div>
    </div>
  </div>
</div>
<div class='container-fluid wrapper yellowBg' id='betWrapper'>
  {% if bet_cards %}
  <h1>Yours active bets:</h1>

    {% for card in bet_cards %}
    <div class = "col-md-4 col-sm-5">
      <div class="card hovercard ">
        <img src="{{card.image}}" alt=""/>
        <div class="info">
          <div class="title">
            {{card.template}}
          </div>
          <div class="desc">{{card.name}}</div>
          <div class="desc">{{card.closeDate}}</div>
        </div>
        <div class="bottom">
        <a class="btn btn-default"  href="{% url 'betcroquet_app:betView' card.gameCode   %}" %}>BET!</a>
        </div>
      </div>
    </div>


    {% endfor %}
    {% endif %}
    {% if bet_cards_completed %}
    <h1>Yours finished bets:</h1>

      {% for card in bet_cards_completed %}
      <div class = "col-md-4 col-sm-5">
        <div class="card hovercard">
          <img src="{{card.image}}" alt=""/>
          <div class="info">
            <div class="title">
              {{card.template}}
            </div>
            <div class="desc">{{card.name}}</div>
            <div class="desc">{{card.closeDate}}</div>
          </div>
          <div class="bottom">
            <button class="btn btn-default"  href="#" %}>BET!</button>
          </div>
        </div>
      </div>


      {% endfor %}
      {% endif %}
  </div>
  {% else %}
  <div class="jumbotron orangeBg">
    <div class='container-fluid ' id='betWrapper'>
      <div class="row">
        <h2>You must sign in or sign up before you can start enjoying betcroquet</h2>
        <div class="col-md-2 col-md-offset-5"><a type="button" class="btn btn-primary btn-lg"   href="{% url 'user_mgmt_app:user_login' %}" name="signin">SIGN IN</a></div>
        <div class="col-md-2 col-md-offset-5"><a type="button" class="btn btn-primary btn-lg"   href="{% url 'user_mgmt_app:register' %}" name="signup">SIGN UP</a></div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endblock %}
