<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>

  <script async src="//pagead2.googlesyndication.­com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "pub-9514827332639794",
    enable_page_level_ads: true
    });
  </script>
  <title>{% block title %}BETCROQUET{% endblock title %} </title>
  {% block favicon %}
      <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  {% endblock favicon %}
  {% block head %}
      {% block head_charset %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% endblock head_charset %}
      {% block head_contentlanguage %}
          <meta http-equiv="Content-Language" value="en-US" />
      {% endblock head_contentlanguage %}
      {% block head_viewport %}
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock head_viewport %}
  {% endblock head %}
  {% block head_css %}
      {% block head_css_site %}

          <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" media="screen">
          <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
          <link href="{% static 'css/base.css' %}" rel="stylesheet" media="screen">
      {% endblock head_css_site %}
      {% block head_css_section %} {% endblock head_css_section %}
      {% block head_css_page %} {% endblock head_css_page %}
  {% endblock head_css %}
</head>

<body>
  {# Navigation #}
  <header>

  <div class="jumbotron jungleBg jumheader">
    <div class="row">
      <div class="col-md-2 logo-conatiner">
          <a class="logo" href="/">  <img src="{% static 'images/potatoclear.png' %}" class="logo-img"/><span>BetCroquet</span></a>
      </div>

    </div>

    {% block page_header %}
    {% endblock page_header %}
  </div>
    <!--
  <nav class="navbar navbar-default navbar-static-top navbar-inverse">
      {% block nav-style %}{% endblock %}">
       <div class="container-fluid ">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle"
                          data-toggle="collapse"
                          data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand logo-conatiner" href="/">  <img src="{% static 'images/potatoclear.png' %}" class="logo-img"/><span>BetCroquet</span></a>
              </div>
              <div class="collapse navbar-collapse">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">MAIN</a></li>
                    {% if user.is_authenticated %}
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>{{request.user.username}}
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Perfil</a></li>
                          <li>  <a href="{% url 'user_mgmt_app:user_logout' %}">Logout</a></li>
                        </ul>
                      </li>
                      {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'user_mgmt_app:user_login' %}"><span class="glyphicon glyphicon-user"></span>Login</a></li>
                      {% endif %}
                  </ul>
              </div>
          </div>
      </nav>-->
  </header>

  {# The Document Body #}
<div class="content-container">

{% block content %}

{% endblock content %}
</div>
  {# Footer #}
  <footer class="footer navbar fixed-bottom">

        footer here

  </footer>
</body>
{# JavaScript #}
  {% block footer_javascript %}
      {% block footer_javascript_site %}
          <script src="{% static 'js/jquery.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.js' %}"></script>
      {% endblock footer_javascript_site %}
      {% block footer_javascript_section %}{% endblock footer_javascript_section %}
      {% block footer_javascript_page %}{% endblock footer_javascript_page %}
  {% endblock footer_javascript %}
</html>
